.first-order {
    background: linear-gradient(220deg, #0b710b 0%, #393 100%);

}

.first-order__title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 64px;
    line-height: 110%;
    text-align: center;
    color: var(--white);
    margin: 0;
    margin-bottom: 24px;
}

.first-order__inner {
    display: flex;
    gap: 32px;
    padding: 0 32px;
    border-radius: 12px;
    /* padding: 32px 32px 0px 32px; */
    min-height: 486px;
}

.first-order__form {
    padding: 32px 0;
}

.first-order__input {
    display: block;
    width: 100%;
    margin-bottom: 16px;
    padding: 15px 32px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 6px;
    height: 58px;
}

.first-order__input::placeholder {
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: var(--white);
}

.first-order__img {
    

}