.button {
  border: none;
  background: none;
  margin: 0;
  padding: 16px 32px;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: var(--white);
  background: var(--green);
  border-radius: 6px;
  cursor: pointer;
}