.header {
  padding: 30px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 32px;
}

.nav-list__item a{
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: var(--black);
}



.logo {
  background-image: url('../../images/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 70px;
  height: 70px;
}
